@font-face {
  font-family: kabel;
  font-style: normal;
  font-weight: 400;
  src: local("Kabel"), url(../font/kabel.woff) format("woff"), url(../font/kabel.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #050608;
  font-family: kabel, sans-serif;
  color: #fff;
  text-align: center;
}

.container {
  mix-blend-mode: difference;
  padding: 5px;
  position: fixed;
  z-index: 90;
  width: 96vw;
  left: 2vw;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  vertical-align: middle;
  text-align: right;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}
.menu li a:hover {
  cursor: default;
  color: #050608;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.logo {
  vertical-align: middle;
  display: inline-block;
  background-image: url(../assets/img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 50px;
}

/*
.logo {
    vertical-align: middle;
    display: inline-block;
    background-image: url(../assets/img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 50px;
}
*/
.annonce {
  padding: 55px 0;
  background-color: #050608;
  margin-top: 20px;
}
.annonce h1 {
  font-size: 40px;
  line-height: 0.9em;
  margin: 0 auto 5px;
  text-transform: uppercase;
}
.annonce h2 {
  font-size: 24px;
  line-height: 0.9em;
  margin-bottom: 5px;
  font-family: kabel, sans-serif;
  font-weight: lighter;
  text-transform: none;
  letter-spacing: 0;
}

sup {
  font-size: 0.45em;
}

.showOnMobile {
  display: none;
}

.bouton {
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.06em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  transition: 0.3s;
}
.bouton:hover {
  transition: 0.1s;
  margin: 5px 0;
  padding: 10px 20px;
  border: 1px solid #fff;
}

.artwork {
  display: inline-block;
  width: 100vw;
  height: 65vh;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/img/background.jpg);
}

.player {
  display: block;
  width: 70vw;
  max-width: 650px;
  margin: 3vh auto;
  min-height: 50vh;
  aspect-ratio: 16/9;
  border: 1px solid #fff;
}

.shop {
  margin-top: 10vh;
  padding: 8vh 0;
  background-color: #fff;
}
.shop h1 {
  color: #050608;
}
.shop .product {
  display: inline-block;
  vertical-align: top;
  height: 465px;
  max-width: 400px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 5px;
  text-decoration: none;
}
.shop .product:hover {
  border: 1px solid #000;
}
.shop .product h2 {
  font-family: kabel, sans-serif;
  color: #050608;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: lighter;
}
.shop .product h3 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.7em;
  margin: 5px auto;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

.picture {
  height: 350px;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

#cd .picture {
  background-image: url(../assets/img/cd.jpg);
  background-size: contain;
}

#vinyl .picture {
  background-image: url(../assets/img/vinyl.jpg);
  background-size: contain;
}

.footer {
  padding: 100px 0;
  position: absolute;
  width: 90vw;
  left: 5vw;
}
.footer .logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 150px;
  opacity: 1;
}

.social {
  display: block;
  text-align: center;
}
.social a {
  transition: 0.1s;
  width: 35px;
  height: 35px;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent;
}
.social a:hover {
  transition: 0.1s;
  border: 1px solid #fff;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
}
.icon.facebook {
  background-image: url(../assets/img/fb.svg);
}
.icon.spotify {
  background-image: url(../assets/img/sp.svg);
}
.icon.deezer {
  background-image: url(../assets/img/de.svg);
}
.icon.apple {
  background-image: url(../assets/img/am.svg);
}
.icon.amazon {
  background-image: url(../assets/img/az.svg);
}
.icon.songkick {
  background-image: url(../assets/img/sk.svg);
}
.icon.twitter {
  background-image: url(../assets/img/tw.svg);
}
.icon.instagram {
  background-image: url(../assets/img/ig.svg);
}
.icon.youtube {
  background-image: url(../assets/img/yt.svg);
}
.icon.soundcloud {
  background-image: url(../assets/img/sc.svg);
}
.icon.tiktok {
  background-image: url(../assets/img/tt.svg);
}
.icon.twitch {
  background-image: url(../assets/img/twitch.svg);
}
.icon.discord {
  background-image: url(../assets/img/discord.svg);
}

#newsletterBtn {
  margin: 20px auto;
}

#legals {
  margin-top: 25px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

::selection {
  background: #bf423e;
  color: #f2e65f;
}

@media screen and (max-width: 700px) {
  .artwork {
    margin-top: 5vh;
    margin-bottom: 0;
    height: 58vh;
  }
  .showOnMobile {
    display: inline-block;
  }
  .annonce {
    padding: 0 0;
  }
  .player {
    width: 90vw;
    margin: 3vh auto;
    min-height: 60vh;
  }
  .container {
    width: 96vw;
    left: 0;
    mix-blend-mode: difference;
  }
}

/*# sourceMappingURL=styles.css.map */
